#titulo{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #E0F1F2;
    color: #13265C;
    text-align: center;
    height: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#imagen{
    height: 170px;
    float: left;
    border-radius: 50%;
}
hr{
    border: 1px solid #13265C;
    width: 100%;
    margin-top: 70px;
}
h3{
    color: #13265C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}
.fechas{
    color: #58D6DB;
    font-size: smaller;
    margin-left: 40px;
    margin-top: -15px;
    margin-bottom: -15px;
}

h4{
    margin-top: -5px;
}

p{
    color: #13265C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 12px;
}
.items{
    color: #13265C;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.curriculum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.izquierda{
    padding-top: 15px;
    padding-left: 15px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.derecha{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}